body {
  background: url("../img/pertamina-palembang-2.jpg") no-repeat fixed center;
  background-size: cover;
}
img.logo {
  margin-top: 10px;
  height: 100%;
  width: 100%;
}
.a-login {
    width: 70%;
    margin-left: 15%;
}
.f-btn-login {
  width: 130px;
  height: 30px;
  display: inline-block;
  box-sizing: border-box;
}
.btn-login {
  width: 70%;
  margin-left: 15%;
  margin-top: 25px;
}
a {
  text-decoration: none;
}
.lupa:hover {
    color: #fff;
    background-color: #e50d17;
    border-color: #e50d17;
}
.login:hover {
    color: #fff;
    background-color: #06a0e9;
    border-color: #06a0e9;
}
